<div class="container">
    <div class="jumbotron jumbotron-fluid text-center">
      <img src="burgerImage.png" alt="Burger image">
      <h1 class="display-4">Eat Da Burger</h1>
    </div>

    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devour=true}} {{/unless}} {{/each}}
            </ul>
        </div>

        <div class="col-6">
            <ul class="list-group disabled">
                {{#each burgers}} {{#if devoured}} {{> burgers/burger-block devour=false}} {{/if}} {{/each}}
            </ul>
        </div>
    </div>
    <div class="container row">
        <div class="col-12">
            <form class="create-form text-center">
                <div class="form-group">
                    <label for="ca">Add a Burger</label>
                    <textarea class="form-control" id="ca" rows="3"></textarea>
                </div>

                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>